<h1>Welcome <%= @user.username %>!</h1>
<div class="board-subscriptions">
<h2>Subscriptions</h2>

<% @user.boards.each do |board| %>
  <div class="board">
    <article id="<%= board.id %>">
      <h3 class="board-title" >Board Title: <a href='/boards/<%= board.id %>'><%= board.title %></a></h3>
      <h4 class="board-categroy" >Category: <%= board.category.name %></h4>
      <p> <strong>Description:</strong>
        <span class='description'><%= board.description %></span>
      </p>
    </article>
  </div>
<% end %>

</div>

<div class="board-hostings">
<h2>Hostings</h2>

<% @user.hostings.each do |board| %>
  <div class="board">
    <article id="<%= board.id %>">
      <h3 class="board-title" >Board Title: <a href='/boards/<%= board.id %>'><%= board.title %></a></h3>
      <p> <strong>Description:</strong>
        <span class='description'><%= board.description %></span>
      </p>
    </article>
  </div>
<% end %>

</div>


<div class="job-postings">
<h2>Job Postings</h2>

<% @user.jobpostings.each do |job| %>
  <div class="job">
    <h3>Board: <%= job.board.title %></h3>
    <article id="<%= job.id %>">
      <h4 class="job-title" >Title: <a href='/jobs/<%= job.id %>'> <%= job.title %></a></h4>
      <p> <strong>Description:</strong>
        <span class='description'><%= job.description %></span>
      </p>
    </article>
  </div>
<% end %>

</div>
