<div class="job-boards-container">
<h1>Job Boards</h1>
<% if logged_in? %>
  <a href="/boards/new">Create A board</a>
<% end %>
<% @boards.each do |board| %>
  <div class="board-container">
    <article id="<%= board.id %>">
      <h2 class="board-title" ><a href='/boards/<%= board.id %>'><%= board.title %></a></h2>
      <h3 class="board-categroy" >Category: <a href="/categories/ <%= board.category.id %> "><%= board.category.name %></a> </h3>
      <p> <strong>Description:</strong>
        <span class='description'><%= board.description %></span>
      </p>
    </article>
  </div>
<% end %>

</div>
