<h1>Welcome to the <%= @board.title %> board!</h1>
<div class="board-show-container">
  <article id="<%= @board.id %>">
    <h3><%= @board.description %></h3>
    <ul class="board-jobs">
    <span class='category'>Category: <a href="/categories/<%= @board.category.id %>"><%= @board.category.name %></a></span>
        <% if logged_in? %>
          <% if @board.subscribed?(session[:id]) %>
             <%= erb :'_unsubscribe_button' , :layout => false, locals: {board: @board,  user: session[:id]}%>
          <% else %>
            <%= erb :'_subscribe_button' , :layout => false, locals: {board: @board,  user: session[:id]}%>
          <% end %>
        <% end %>
    <h3>this board has <%= @board.jobs.count %> jobs.</h3>
      <% if logged_in? %>
        <a class="create-job-link" href="../jobs/<%= @board.id %>/new">Create Job for <%= @board.title %>.</a>
        <br>
      <% end %>
      <% @board.jobs.each do |job| %>
        <li class="job">
            <span class='title'><strong>Title: </strong><a href="../jobs/<%=job.id%>"><%= job.title %></a></span> <br />
            <span class='position'><strong>Position: </strong> <%= job.position %></span><br />
        <br>

      <% end %>
    </ul >
  </article>
</div>
