<h1>welcome to <%= @category.name %>.</h1>

<h3><%= @category.name %> Boards.</h3>
<ul class="board-list">
<% @category.boards.each do |board| %>
  <h3> <a href="/boards/<%= board.id %>"><%= board.title %></a> </h3>
  <li> <%= board.description %> </li>
<% end %>
</ul>
